{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GameDev - Разработчик игр</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'main/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.10.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <a href="{% url 'home' %}">
          <img src="{% static 'main/img/logo.png' %}" alt="" class="img-fluid">
        </a>
        <h1 class="text-light">Профессия <br> «Разработчик игр»</h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Главная</span></a></li>
          <li><a href="{% url 'demand_vacancies' %}" class="nav-link scrollto"><i class='bx bxs-bar-chart-alt-2'></i> <span>Востребованность</span></a></li>
          <li><a href="{% url 'geo_vacancies' %}" class="nav-link scrollto"><i class='bx bxs-map'></i> <span>География</span></a></li>
          <li><a href="{% url 'home' %}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Навыки</span></a></li>
          <li><a href="{% url 'recent_vacancies' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Последние вакансии</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  {% block hero_start %}
  {% endblock %}

  <main id="main">
    {% block hero_about %}
    {% endblock %}

    {% block hero_skills %}
    {% endblock %}

    {% block hero_demand %}
    {% endblock %}

    {% block hero_c %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <strong><span>Ворсин Алексей Андреевич АТ-36 РИ-210945</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'main/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'main/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'main/js/main.js' %}"></script>

</body>

</html>