{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<section id="skills" class="about section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Последние вакансии</h2>
      <p>На этой странице вы можете получить данные о вакансии(-ях) в области GameDev по Разработке игр за определенный день или месяц с сайта HeadHunter.ru.</p>
    </div>
    <div class="content content-skills">
      <div class="row">
          <div class="col-lg-1"></div>
        <div class="col-lg-4" style="margin-bottom: 20px;">
          <p><i>Вакансии за определенный день</i></p>
            <form action="{% url 'recent_vacancies' %}" method="POST" class="vac_form" >
                {% csrf_token %}
                <div class="form-group" style="display: flex; flex-direction: column;">
                    <label for="day">Укажите день</label>
                    <input type="date" name="day" id="day" value="2022-12-01"  min="2022-12-01" max="2022-12-31" class="form-control">
                </div>
                <div class="text-center">
                    <input type="submit" value="Поиск">
                </div>
            </form>
        </div>
          <div class="col-lg-2"></div>
        <div class="col-lg-4" style="margin-bottom: 20px;">
          <p><i>Вакансии за определенный месяц</i></p>
            <form class="vac_form" action="{% url 'recent_vacancies' %}" method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="month">Укажите месяц</label>
                    <input type="month" name="day" id="month" value="2022-12" class="form-control">
                </div>
                <div class="text-center">
                    <input type="submit" value="Поиск">
                </div>
            </form>
        </div>
      </div>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-danger col-lg-6">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h5><strong>{{ message }}</strong></h5>
            <p class="mb-0">Измените выбранную дату и попробуйте еще раз.</p>
        </div>
        {% endfor %}
    {% endif %}
  </div>
</section><!-- End Skills Section -->
<section>
    <div class="container">
        <div class="content content-skills">
          <div class="row">

          {% for d in data %}
            <div class="col-lg-12" style="margin-bottom: 30px;">
                <div class="vac_form">
                    <h2 style="margin-bottom: 14px;"> {{ d.name }}</h2>

                    <div>
<!--                        <h3 style="margin-bottom: 5px; font-size: 18px;"><strong>Описание:</strong></h3>-->
                        <p>
                            {{ d.description | safe }}
                        </p>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 5px; font-size: 18px;"><strong>Ключевые навыки:</strong></h3>
                        <p>
                            {{ d.key_skills }}
                        </p>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 5px; font-size: 18px;"><strong>Компания:</strong></h3>
                        <p>
                            {{ d.company }}
                        </p>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 5px; font-size: 18px;"><strong>Оклад:</strong></h3>
                        <p>
                            {{ d.salary }}
                        </p>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 5px; font-size: 18px;"><strong>Город:</strong></h3>
                        <p>
                            {{ d.area_name }}
                        </p>
                    </div>
                    <div style="margin-top: 25px; display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 14px; color: #a3a3a3; margin-bottom: 0;"><i>{{ d.published_at }}</i></p>
                        <a href="https://hh.ru/vacancy/{{ d.id }}">
                            <button type="button">Ссылка на HeadHunter</button>
                        </a>
                    </div>
                </div>
            </div>
          {% endfor %}
          </div>
        </div>

    </div>
</section>
{% endblock %}